@model WebDev_MainLab.Models.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<h2>@Html.DisplayFor(model => Model.Name)</h2>
<h3>
    Total spend : @Html.DisplayFor(model => Model.TotalSpend);
</h3>
<dl class="dl-horizontal">
    @foreach (var item in Model.Items)
    {
        <dt>
            @Html.DisplayFor(model => item.MyItem.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => item.Quantity)
        </dd>
    }
</dl>
