@model WebDev_MainLab.Models.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<h2>@Model.Surname  @Model.Name</h2>

<dl class="dl-horizontal">
    @foreach (var order in Model.orderslist)
    {
        foreach (var item in order.Items)
        {

        <dt>
            @Html.DisplayFor(model => item.MyItem.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => item.Quantity)
        </dd>
    

         }
    }
</dl>
