<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<div calss="admin-panel">
<p>
    <a asp-controller="Goods" asp-action="AdminIndex">
        <input type="button" value="ToGoods"/>
    </a>
</p>
<p>
    <a asp-controller="Countries" asp-action="Index">
        <input type="button" value="ToCountries"/>
    </a>
</p>
<p>
    <a asp-controller="States" asp-action="Index">
        <input type="button" value="ToStates"/>
    </a>
</p>
    </div>
