@inject IViewLocalizer Localizer
<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<div class="admin-panel">
    <p>
        <a asp-controller="Goods" asp-action="Index">
            <input type="button" value='@Localizer["ToGoods"]' />
        </a>
    </p>
    <p>
        <a asp-controller="Countries" asp-action="Index">
            <input type="button" value='@Localizer["ToCountries"]' />
        </a>
    </p>
    <p>
        <a asp-controller="States" asp-action="Index">
            <input type="button" value='@Localizer["ToStates"]' />
        </a>
    </p>
    <p>
        <a asp-controller="Users" asp-action="Index">
            <input type="button" value='@Localizer["ToUsers"]' />
        </a>
    </p>

</div>

