@inject IViewLocalizer Localizer;
<h2>@Localizer["choose"]:</h2>

<link rel="stylesheet" href="~/css/site.css" />
<div class="payment">
    <input type="submit" value=@Localizer["card"] id="Card" class="btn btn-default" />
    <input type="submit" value="WebMoney" id="Money" class="btn btn-default" />
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $('#Card').on("click", function () {
        var url = '@Url.Action("Card", "Pay")';
        window.location.href = url;
    });
</script>