@inject IViewLocalizer Localizer
<header>
    <h2 class="text-danger">@Localizer["lockTitle"]</h2>
    <p class="text-danger">@Localizer["lockText"]</p>
</header>
<body>
    <img src="~/images/block.jpg" class="img-responsive"/>
</body>