<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<div class="search_area">
    <form asp-controller="Goods" asp-action="IndexSearch" method="get">
        <p>

            <input type="search" name="SearchString">
            <input type="submit" class="btn btn-success" value="Search" />
        </p>
    </form>
</div>
